
body
{
    background-color: whitesmoke;
}


.kor
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    white-space: 50px;
    font-family: cursive;
}
.kor:hover
{
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: 1px 5px 5px 5px blue;
    font-family: cursive;
}
.kor2
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    white-space: 50px;
    font-family: cursive;
}
.kor2:hover
{
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: 1px 5px 5px 5px red;
    font-family: cursive;
}

#logo
{
    height: 50px;
    width: 50px;
}

#kezelo
{
    border: 3px solid black;
}
.container-fluid
{
    background-color: turquoise;
}
#navbarNav
{
    background-color: turquoise;
}

#gomb
{
    border: 2px solid black;
    border-radius: 5px 5px;
    background-color: whitesmoke;
    
}
#eredmeny
{
    border: 2px solid black;
    width: 100%;
}